{
    "//":'accountSn表示账户序号，例如1,2, 则将提取option-sn选项的值，例如user-1,user-2,这里只示例两个，需要请自行添加，添加完成后请删除整行注释'
    "accountSn": "1,2",
    "DedeUserID-1": "22******1",
    "SESSDATA-1": "31******1",
    "bili_jct-1": "72******1",
    "DedeUserID-2": "92******1"
    "SESSDATA-2": "92******1"
    "bili_jct--2": "92******1"
}