{
    "//":'accountSn表示账户序号，例如1,2, 则将提取option-sn选项的值，例如user-1,user-2,这里只示例两个，需要请自行添加，添加完成后请删除整行注释'
    "accountSn": "1,2",
    "P00001-1": "22******1",
    "P00PRU-1": "31******1",
    "QC005-1": "72******1",
    "dfp-1": "92******1",
    "P00001-2": "22******1",
    "P00PRU-2": "31******1",
    "QC005-2": "72******1",
    "dfp-2": "92******1"
}