{
    "//":'accountSn表示账户序号，例如1,2, 则将提取option-sn选项的值，例如user-1,user-2,这里只示例两个，需要请自行添加，添加完成后请删除整行注释'
    "accountSn": "1,2",
    "user-1": "22******1",
    "password-1": "31******1",
    "appid-1": "41******1",
    "user-2": "25******1",
    "password-2": "72******1",
    "appid-2": "92******1"
}