name: "Docker_node_python"
on:
 # push:
 #   branches:
 #     - py
  workflow_dispatch:
  
  
jobs:
  build:
    runs-on: ubuntu-latest
    name: Docker_node_python
    steps:
      - name: Checkout master
        uses: actions/checkout@master
      - name: Build and publish image
        uses: ilteoood/docker_buildx@master
        with:
          publish: true
          imageName: noobx/jd
          dockerFile: docker/py/Dockerfile
          platform: linux/amd64,linux/arm64,linux/arm/v7
          tag: py
          dockerUser: ${{ secrets.DOCKER_USERNAME }}
          dockerPassword: ${{ secrets.DOCKER_PASSWORD }}
